html{
    background-color: #884A39;
    text-align: center;
}

h1{
    color: #F9E0BB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Bungee Spice', cursive;
    text-align: center;
}
img{
    height: 400px;
    width: 300px;
    border: 5px solid #F9E0BB;
}
img:hover {
    border: 10px solid #F97B22;
}
h2{
    color: #F9E0BB;
    font-family: 'Nabla', cursive;   
}
